<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.zhouz.jdmarkets"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:name="com.example.zhouz.jdmarkets.JDApp"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"/>
   

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/BaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.GuideActivity">
        </activity>
        <activity
            android:label="登录选择"
            android:name=".activity.login.LoginActivity">
        </activity>
        <activity 
            android:label="手机登录"
            android:name=".activity.login.PhoneLoginActivity">
        </activity>
        <activity 
            android:label="主页"
            android:name=".activity.HomeActivity">
        </activity>
    </application>

</manifest>